set -o nounset
export REPO_ROOT="${PWD}"
export GOBIN="${REPO_ROOT}/bin"
export GOPRIVATE="*"

# Path to the file you want to load
SECRET_VARS_FILE="secrets/env"

# Check if the file exists and is readable (meaning it's decrypted)
if [ -f "$SECRET_VARS_FILE" ]; then
  # Read each line in the file, ignoring empty lines and comments
  while IFS='=' read -r key value || [[ -n "$key" ]]; do
    # Ignore lines that are comments or empty
    if [[ ! "$key" =~ ^# ]] && [[ -n "$key" ]]; then
      # Export the variable using direnv's `export` function
      export "$key=$value"
    fi
  done < "$SECRET_VARS_FILE"
else
  echo "Warning: $SECRET_VARS_FILE does not exist or is not readable."
fi

hash -r